@value whiteBasic from '../../../../../css/colors.css';
@value lightBlue from '../../../../../css/colors.css';

.root {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    transition: all .5s ease;
}

.isPopupHidden {
    opacity: 1;
    position: relative;
    pointer-events: auto;
}

.form {
    margin-top: 49px;

    .bottomLabel {
        position: absolute;
        top: 40px;
        left: 0;
        font-family: FuturaPT-Medium;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.01em;
        color: rgba(166, 177, 220, 0.25);
        opacity: 0;
        pointer-events: none;

        &.bottomLabelActive {
            opacity: 1;
        }
    }

    @media (max-width: 450px) {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.button {
    background-color: #27AE60;
    position: relative;
    color: whiteBasic;
    padding: 7.5px 0px;
    font-family: FuturaPT-Medium;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    z-index: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    outline: none;
    transition: .5s ease;
    width: 100%;
    border: none;
    margin-top: 67px;
    box-shadow: 0 0 5px 1px #27AE60;

    @media(max-width: 600px) {
        margin-top: 80px;
    }
}

.isVisible {
    opacity: 1;

    .content {
        pointer-events: auto; 
    }
}

.emailContainerField {
    position: relative;

    @media(max-width: 450px) {
        height: 36px;
    }
}

.forgetPassordButton {
    color: rgba(248, 248, 248, 0.5);
    font-weight: 600;
    width: fit-content;
    margin: 12px auto 36px;
    cursor: pointer;
}

.title {
    font-family: FuturaPT-Medium;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.01em;
    color: lightBlue;
    margin-top: 36px;
    text-align: center;
}

.isSuccessPopup {
    opacity: 1 !important;
    pointer-events: auto !important;
}

.successContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}

.cover {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.popupWrap {
    height: 100%;
    display: flex;
    align-items: center;

    &:after {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
        content: '';
    }
}

.popup {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
    padding: 30px;

    @media (max-width: 768px) {
        padding: 24px;
    }

    @media(max-width: 600px) {
        padding: 16px;
    }

    @media (max-width: 541px) {
        position: fixed;
        bottom: 0;
        height: calc(100% - 106px);
    }
}

.popupContent {
    width: 360px;
    height: 186px;
    margin: 0 auto;
    filter: drop-shadow(0px 0px 63px rgba(0, 0, 0, 0.71));
    background: #1B2033;
    display: flex;
    text-align: center;

    @media (max-width: 541px) {
        height: 100%;
    }
}

.content {
    display: flex;
    width: 100%;
    margin: auto;
    overflow: hidden;
    flex-direction: column;
    align-items: center;

    div {
        max-width: 262px;
        margin-bottom: 12px;
    }
}