@value lightBlue from '../../../../../css/colors.css';
@value whiteDingy from '../../../../../css/colors.css';
@value greyLightDingy from '../../../../../css/colors.css';
@value deepBlue from '../../../../../css/colors.css';
@value greenLight from '../../../../../css/colors.css';
@value redLight from '../../../../../css/colors.css';
@value lightBlueDingy from '../../../../../css/colors.css';

.buttonContainer {
    width: 84px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: deepBlue;
    transition: all .3s ease;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 2px;
        z-index: 1;
        transition: all .3s ease;
        background: lightBlueDingy;
        box-shadow: 0 0 5px 1px lightBlueDingy;
        opacity: 0;
    }

    &:first-child {
        .button {
            margin-top: 4px;
        }
    }

    @media(max-width: 1024px) {
        border-right: 0;

        &::after {
            width: 100%;
            height: 2px;
            top: unset;
            bottom: 0;
        }
    }

    @media(max-width: 756px) {
        width: 56px;
        height: 56px;
    }

    @media(max-width: 544px) {
        width: 36px;
        height: 36px;
    }

    @media(max-height: 544px) {
        width: 36px;
        height: 36px;
    }
}

.button {
    font-family: FuturaPT-Medium;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: lightBlue;
    text-align: center;
    margin-top: 5px;
    transition: all .4s ease;

    @media(max-width: 756px) {
        display: none;
    }

    @media(max-height: 756px) and (max-width: 1024px) {
        display: none;
    }
}

.buttonTitleActive {
    color: whiteDingy;
}

.menuContent {
    position: absolute;
    width: 114px;
    z-index: -1;
    transform: translateX(-300px);
    transition: all .4s ease;
    background: rgb(27 32 51 / 90%);

    @media(max-width: 1024px) {
        top: 92px;
        transform: translateX(168px);
        z-index: 0;
    }

    @media(max-width: 756px) {
        top: 76px;
        transform: translateX(112px)
    }

    @media(max-width: 900px) and (orientation: landscape) {
        top: 76px;
    }

    @media(max-width: 544px) {
        top: 50px;
        transform: translateX(92px);
    }

    @media(max-height: 550px) and (orientation: landscape) {
        top: 50px;
    }
}

.menuOpen {
    transform: translateX(92px);

    @media(max-width: 1024px) {
        transform: translateX(-28px)
    }

    @media(max-width: 900px) and (orientation: landscape) {
        transform: translateX(-56px)
    }

      @media(max-width: 756px) {
        transform: translateX(-56px)
    }

    @media(max-width: 544px) {
        transform: translateX(-76px);
    }

    @media(max-height: 550px) and (orientation: landscape) {
        transform: translateX(-76px);
    }
}

.title {
    font-family: FuturaPT-Medium;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.01em;
    color: whiteDingy;
    padding: 24px;
    border-bottom: 1px solid #333543;
    margin-bottom: 19px;
}

.buttonActive {
    background: #161A2A;

    &::after {
        opacity: 1;
    }

    @media(max-width: 1024px) {
        border-right: none;
    }
}

.buttonImg {
    display: none;
    path {
        transition: all .3s ease;
    }

    @media(max-width: 544px) {
        width: 10px;
        height: 14px;
    }

    @media(max-height: 544px) {
        width: 10px;
        height: 14px;
    }
}

.buttonImgActive {
    path {
        fill: whiteDingy;
    }
}

.buttonChooseIconActive {
    display: block;
}

.lineItem {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: FuturaPT-Medium;
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.012em;
    color: lightBlue;
    background: rgba(166, 177, 220, 0.05);
    margin-right: 2px;
    margin-bottom: 2px;
    transition: all .3s ease;
    cursor: pointer;

    &:hover {
        background: rgba(166, 177, 220, 0.25);
    }

    path {
        transition: all .3s ease;
    }
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;
}

.activeChartLine {
    background: rgba(166, 177, 220, 0.25);

    path {
        fill: whiteDingy;
    }
}

.activeChartStroke {
    path {
        stroke: whiteDingy;
    }
}

.line, .dots {
    path {
        fill: unset !important;
    }
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}