@value lightBlueDingy from '../../../../../css/colors.css';
@value whiteBasic from '../../../../../css/colors.css';

.registrationPopupContainer {
    padding: 48px 8px 50px 31px;
    max-width: 860px;
    background: #1B2033;
    height: 572px;
    overflow: hidden;
    width: calc(100vw - 60px);

    .registrationInnerContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: auto;
        height: 482px;
        padding-right: 16px;

        &::-webkit-scrollbar {
            width: 7px;
            height: 2px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(166, 177, 220, 0.5);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgb(133, 146, 201);
        }
    }

    .cardItemWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 48.5%;
        max-width: 387px;
        border: 2px solid rgba(166, 177, 220, 0.25);
        margin-bottom: 24px;

        &:nth-last-child(-n+2) {
             width: 100%;
             max-width: initial;
             margin-bottom: 0;
         }
    }

    .cardItemWrapperHovered {
        cursor: pointer;

        &:hover {
             background: #161A2A;

            .title {
                color: #F8F8F8;

                path {
                    fill: rgba(248, 248, 248, 0.75);
                    fill-opacity: 1;
                }
            }

            .bottomLabel {
                color: rgba(248, 248, 248, 0.75);
            }
        }
    }

    .cardItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .3s ease;

        .title {
            margin-top: 53px;
            display: flex;
            align-items: center;
            font-family: FuturaPT-Medium;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.012em;
            color: #A6B1DC;
            transition: all .3s ease;

            svg {
                margin-left: 9px;
                margin-top: 2px;

                path {
                    transition: all .3s ease;
                }
            }
        }

        .documentIcon {
            margin: 19px auto 21px;
        }

        .bottomLabel {
            margin-bottom: 50px;
            font-family: FuturaPT-Medium;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: rgba(166, 177, 220, 0.5);
            transition: all .3s ease;
            text-align: center;
        }
    }

    .buttonContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: calc(50px - 24px);
        display: none;
    }

    .button {
        background-color: lightBlueDingy;
        position: relative;
        color: whiteBasic;
        padding: 8.5px 83px;
        font-family: FuturaPT-Medium;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        z-index: 2;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        box-sizing: border-box;
        outline: none;
        transition: .5s ease;
        width: 100%;
        border: none;
        max-width: 192px;
        box-shadow: 0 0 5px 1px lightBlueDingy;

        @media(max-width: 600px) {
            margin-top: -11px;
        }
    }

    @media(max-width: 768px) {
        width: calc(100vw - 48px);

        .cardItemWrapper {
            width: 100%;
            max-width: initial;
        }

        .cardItem {
            width: 100%;
            max-width: initial;
        }

        .registrationInnerContainer {
            &::-webkit-scrollbar {
                width: 2px;
            }
        }
    }

    @media(max-width: 600px) {
        width: calc(100vw - 32px);
    }

    @media(max-width: 544px) {
        height: 472px;

        .registrationInnerContainer {
            height: -webkit-fill-available;;
        }
    }

    @media(max-width: 450px) {
        padding: 36px 4px 36px 16px;

        .registrationInnerContainer {
            padding-right: 10px;
        }
    }
}

.activeItemCard {
    background: rgba(39, 174, 96, 0.25);
    color: #A6B1DC;
    cursor: pointer;

    svg {
        transform: translateX(10px);
    }

    &:hover {
        background: rgba(111, 207, 151, 0.25) !important;
    }
}

.fileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.docRemove {
    cursor: pointer;
    margin-left: 6px;
    position: relative;
    top: 1px;
}
