@value lightBlue from '../../../../../css/colors.css';
@value deepBlue from '../../../../../css/colors.css';
@value whiteDingy from '../../../../../css/colors.css';

.root {
    position: relative;
    background: deepBlue;
    z-index: 11;
    box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.15);

    @media(max-width: 1024px) {
        display: none;
    }
}

.buttonContainer {
    width: 84px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: deepBlue;

    &:first-child {
        .button {
            margin-top: 4px;
        }
    }
}

.activeButtonText {
    color: whiteDingy !important;
}

.button {
    font-family: FuturaPT-Medium;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: lightBlue;
    text-align: center;
    margin-top: 5px;
    transition: all .4s ease;
}

.menuActive {
    .burgerLine::before {
        transform: rotate(45deg);
        background-color: whiteDingy;
    }

    .burgerLine::after {
        transform: rotate(-45deg);
        background-color: whiteDingy;
    }

    .burgerLine {
        height: 0;
    }
}

.menuContent {
    position: absolute;
    width: 300px;
    height: 100%;
    background: rgb(27 32 51 / 90%);
    z-index: 1;
    transform: translateX(-300px);
    transition: all .4s ease;
}

.menuOpen {
    transform: translateX(84px);
}

.menu {
    position: relative;
    height: 100%;
    background: deepBlue;
    z-index: 1;
}

.menuBG {
    height: calc(100vh - 84px * 5 - 66px);
    background: deepBlue;
}
