@value deepBlue from '../../../../../css/colors.css';
@value whiteDingy from '../../../../../css/colors.css';
@value whiteBasic from '../../../../../css/colors.css';
@value greenLight from '../../../../../css/colors.css';
@value lightBlueDingy from '../../../../../css/colors.css';
@value redLight from '../../../../../css/colors.css';
@value greyLight from '../../../../../css/colors.css';
@value greyLightDingy from '../../../../../css/colors.css';

.root {
    background: deepBlue;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    position: relative;
    height: 100%;
    max-height: 84px;
    z-index: 12;
    font-family: FuturaPT-Medium;
    
    @media(max-width: 1024px) {
        flex-direction: row-reverse;
        padding-right: 0px;
        z-index: 13;
    }

    @media(max-width: 756px) {
        padding: 0;
        padding-left: 14px;
    }

    @media(max-width: 544px) {
        max-height: 56px;
    }

    @media(max-height: 544px) {
        max-height: 56px;
    }
}

.logo {
    @media(max-width: 1024px) {
        display: none;
    }
}

.timeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: greyLight;
    cursor: default;
    max-width: 114px;
    width: 100%;

    .timeIcon {
        margin-right: 8px;
    }

    .timeInnerContainer {
        width: 61px;
        margin: auto;

        .time {
            margin-right: 6px;
            font-size: 16px;
            line-height: 21px;
        }
    }

    .timeFormat {
        font-size: 12px;
        line-height: 15px;
        margin-top: 4px;
    }

    @media(max-width: 1024px) {
        display: none;
    }
}

.depositButton {
    background: lightBlueDingy;
    width: 148px;
    height: 38px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: whiteBasic;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 1px lightBlueDingy;
    filter: brightness(1.15);

    @media(max-width: 544px) {
        font-size: 12px;
        line-height: 15px;
        margin-right: 6px;
        height: 36px;
    }

    @media(max-height: 544px) {
        font-size: 12px;
        line-height: 15px;
        margin-right: 4px;
        height: 36px;
    }
}

.mobileNavBarItems{
    display: none;

    @media(max-width: 1024px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}

.buyAndSellContainer {
    @media(max-width: 1024px) {
        display: none
    }
}